<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'team_dashboard/css/login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Agdasima' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'team_dashboard/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" class="login">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="id_remember_me">
                <input type="checkbox" name="remember_me" id="id_remember_me" checked>
                Acuérdame
            </label>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>