<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
    <div class="d-flex flex-column align-items-center mt-5" style="height: 100vh;">
        <h2 class="mt-5">Login</h2>
        <form class="form-group" method="post" class="login">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary align-self-center" type="submit">Login</button>
        </form>
    </div>
    {% bootstrap_javascript %}

</body>
</html>