    <div class="d-flex justify-content-around" style="width: 100vw;">
        <input class="form-control w-25" type="date" id="id_date" name="date">
        <button class="btn btn-lg btn-dark" type="button" onclick="setToday('id_date')" style="background-color: rgb(5, 143, 129);">Hoy</button>
    </div>

<script>
    function setToday(name){
        const today = new Date().toISOString().split('T')[0];
        
        element = document.getElementById(name);
        if (element){
            element.value = today;
        }
    }
</script>