<div class="datetime-split-widget">
    <div class="datetime-date">
        <label for="{{name}}_0">Día:</label>
        <div class="date-input">
            {{widgets.0}}
            <button type="button" class="date-time-btn" onclick="setToday('{{name}}_0')">Hoy</button>
        </div>
    </div>
    <div class="datetime-time">
        <label for="{{name}}_1">Hora de entreno:</label>
        <div class="time-input">
            {{widgets.1}}
            <button type="button" class="date-time-btn time" onclick="setTime('{{name}}_1', 11, 0)">11h</button>
            <button type="button" class="date-time-btn time" onclick="setTime('{{name}}_1', 18, 0)">18h</button>
            <button type="button" class="date-time-btn time" onclick="setTime('{{name}}_1', 19, 0)">19h</button>
        </div>
    </div>
</div>

<script>
    function setToday(name){
        const today = new Date().toISOString().split('T')[0];
        
        elements = document.getElementsByName(name);
        if (elements.length > 0){
            element = elements[0]
            element.value = today;
        }
    }
</script>

<script>
    function setTime(name, hour, minutes, seconds){
        elements = document.getElementsByName(name);
        if (elements.length > 0){
            const element = elements[0]
            const formattedHours= String(hour).padStart(2, '0');
            const formattedMinutes = String(minutes).padStart(2,'0');
            const timeValue = `${formattedHours}:${formattedMinutes}`;
            console.log(timeValue)
            element.value = timeValue;
        }
    }
</script>
