<div class="d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-around mb-5" style="width: 100vw;">
            {{widgets.0}}
            <button type="button" class="btn btn-dark btn-lg" onclick="setToday('{{name}}_0')" style="background-color: rgb(5, 143, 129);">Hoy</button>
        </div>

    <div class="d-flex flex-column align-items-center"  style="width: 100vw;">
        <label class="h5" for="{{name}}_1">Hora de entreno</label>
        <div class="d-flex justify-content-around" style="width: 100vw;">
            {{widgets.1}}
            <div class="d-flex justify-content-between" style="width: 50vw;">
                <button type="button" class="btn btn-dark btn-lg" onclick="setTime('{{name}}_1', 11, 0)" style="background-color: rgb(5, 143, 129);">11h</button>
                <button type="button" class="btn btn-dark btn-lg" onclick="setTime('{{name}}_1', 18, 0)" style="background-color: rgb(5, 143, 129);">18h</button>
                <button type="button" class="btn btn-dark btn-lg" onclick="setTime('{{name}}_1', 19, 0)" style="background-color: rgb(5, 143, 129);">19h</button>
            </div>
            
        </div>
    </div>
</div>

<script>
    function setToday(name){
        const today = new Date().toISOString().split('T')[0];
        
        elements = document.getElementsByName(name);
        if (elements.length > 0){
            element = elements[0]
            element.value = today;
        }
    }
</script>

<script>
    function setTime(name, hour, minutes, seconds){
        elements = document.getElementsByName(name);
        if (elements.length > 0){
            const element = elements[0]
            const formattedHours= String(hour).padStart(2, '0');
            const formattedMinutes = String(minutes).padStart(2,'0');
            const timeValue = `${formattedHours}:${formattedMinutes}`;
            console.log(timeValue)
            element.value = timeValue;
        }
    }
</script>
