<div class="training-type-widget">
    <div class="main">
        <label class="ttype" for="{{name}}_0">¿Qué tipo de entreno hiciste?</label>
        {{widgets.0}}
    </div>
    <div id="fisico" class="not-selected">
        <label class="ttype" for="{{name}}_1">¿Qué hiciste de físico?</label>
        {{widgets.1}}
    </div>
    <div id="taekwondo" class="not-selected">
        <label class="ttype" for="{{name}}_2">¿Qué hiciste de taekwondo?</label>
        {{widgets.2}}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let mainW = document.querySelector("[name={{name}}_0]");
	let fW = document.querySelector("[name={{name}}_1]");
        let tW = document.querySelector("[name={{name}}_2]");
        let fisicoD = document.getElementById("fisico");
        let tkdD = document.getElementById("taekwondo");

        function toggleSubInputs() {
            if (mainW.value === "físico") {
                fisicoD.classList.add("selected");
                tkdD.classList.add("not-selected");

                fisicoD.classList.remove("not-selected");
                tkdD.classList.remove("selected");

		tW.value = " ";
		tW.required = false;
  
                fW.required = true;
            } else if (mainW.value === "taekwondo") {
                fisicoD.classList.add("not-selected");
                tkdD.classList.add("selected");

                fisicoD.classList.remove("selected");
                tkdD.classList.remove("not-selected");

                fW.value = " ";
                fW.required = false;

		tW.required = true;
            } else {
                fisicoD.classList.add("not-selected");
                tkdD.classList.add("not-selected");

                fisicoD.classList.remove("selected");
                tkdD.classList.remove("selected");

		fW.required = false;
		tW.required = false;
            }
        }

        mainW.addEventListener("change", toggleSubInputs);
        toggleSubInputs(); // Run on page load to set initial state
    });
</script>
