.star-rating input{
    display: none;
}

.star-rating label {
    font-size: 1rem;
    color:#ddd;
    cursor:pointer;
}

.star-rating input:checked ~ label{
    color: #ffc107
}

.star-rating label:hover,
.star-ratinglabel:hover ~ label {
    color: #FFc107;
}

.tags{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

p.tag{
    text-align: center;
    font-size: 1rem;
}

.star{
 font-size: 50vw;
}
