.datetime-split-widget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.date-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.time-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.date-time-btn{
    justify-self: center;
    align-self: center;
    height: 65px;
    width: 80px;
    border-radius: 40px;
}

.date-time-btn.time{
    width: 40px;
}

input#id_date{
    background-color: rgba(0, 0, 0, 0.126);
    font-family: Agdasima;
    font-size: 60%;
    color: rgb(0, 170, 119);
    height: 65px;
    border: 0;
}


.datetime-date{
    margin-bottom: 	30px;
}

label{
    font-weight: bolder;
}
