body{
    font-family: Agdasima;
    font-size: 22px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

button{
    background-color: #007bff; /* Primary button color */
    color: white; /* Text color for the button */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color .5s;
    font-weight: bold;
    padding-inline: 8px;
    font-family: Agdasima;
    font-size: 22px;;
}
button:hover{
    background-color: #013874;
}
button:disabled{
    background-color: #cccccc; /* Primary button color */
    color: #666666;
    cursor: not-allowed
}

input{
    background-color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    transition: background-color .5s;
}
input:hover{
    background-color: lightgrey;
}

select.form-select{
    background-color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    transition: background-color .5s;
}
select.form-select:hover{
    background-color: lightgrey;
}

textarea{
    background-color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    transition: background-color .5s;
}

textarea:hover{
    background-color: lightgrey;
}

form.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
}