<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% block styleSheets %}
    {%endblock%}
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column justify-content-center">
    
    {% block main_content %}
    {% endblock %}
    {% bootstrap_javascript %}
</body>
</html>
