{% extends 'base_template.html' %}

{% block title %}Página Principal{% endblock %}

{% load static %}
{% block styleSheets %}
{% endblock %}

{% block main_content %}
<div class="text-white w-100" style="background-color: rgb(25, 13, 85);">
    <h1 class="text-center">Listado de atletas</h1>
</div>

<table class="table table-hover w-75 align-self-center">
    <thead class="thead-dark">
        <tr>
            <th class="text-left">Atleta</th>
            <th class="text-center">Última Encuesta</th>
            <th class="text-right">Alerta</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr onclick="window.location='{% url 'wellness_dashboard' user=row.user.id %}';" style="cursor: pointer;">
                
                <td class="text-left">{{ row.user.get_full_name}}</td>
                <td class="text-center">{{ row.date }}</td>
                <td class="{{row.alert}}" style="width:5px;"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark" style="background-color: rgb(25, 13, 85);">
    <p class="navbar-brand">Páginas</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {%if is_staff%}
        <li class="nav-item active">
            <form method="GET"  class="" action="{% url 'training_data' %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-link nav-link" type="submit">Datos de Entreno</button>
            </form>
        </li>
        <li class="nav-item">
            <form method="GET"  class="" action="{% url 'admin:index' %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-link nav-link" type="submit">Página Admin</button>
            </form>
        </li>
        {% endif %}
        <li class="nav-item">
            <form method="POST"  class="" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-link nav-link" type="submit">Logout</button>
            </form>
        </li>
      </ul>
    </div>
  </nav>

{% endblock %}