{% extends 'base_template.html' %}

{% block title %}Encuensta Post-entreno{% endblock %}

{% load static %}
{% block styleSheets %}
<link rel="stylesheet" href="{% static 'team_dashboard/css/encuestas.css' %}">
<link rel="stylesheet" href="{% static 'team_dashboard/css/widgets/starrating.css' %}">
<link rel="stylesheet" href="{% static 'team_dashboard/css/widgets/timeDate.css' %}">
<link rel="stylesheet" href="{% static 'team_dashboard/css/widgets/trainingtype.css' %}">
{% endblock %}

{% block main_content %}
<div class="parent">
    <a href="{% url 'redirect' %}" class="nav">Página Principal</a>

    {%if form_errors%}
        <div id="errores">
            <h3>Errores</h3>
            <ul>
                {%for field, error in form_errors.items%}
                    <li>{{ error|join:", " }}</li>
                {%endfor%}
            </ul>
            <button class="error" onclick="closePopUp()">Cerrar</button>
        </div>
    {%endif%}

    <div class="body-encuestas">
        <button id="back" class="arrow" onclick="prevParent()">&lt;</button>
        <form method="post" class="subcontainer">
            {% csrf_token %}
            <div id="form-group_1" class="form-group">
                <label for="id_date">Fecha: </label>
                {{ form.date }}
            </div>
        
            <div id="form-group_2" class="form-group">
                <label for="id_type_of_activity">Tipo de actividad: </label>
                {{ form.type_of_activity }}
            </div>
        
            <div id="form-group_3" class="form-group">
                <label for="id_time_of_activity">Duración de la actividad (min): </label>
                {{ form.time_of_activity }}
            </div>

            <div id="form-group_4" class="form-group image">
                <div class="minicontainer">
                    <label for="id_perceived_strain_of_activity">Esfuerzo ejercido: </label>
                </div>
                {{ form.perceived_strain_of_activity }}
            </div>

            <div id="form-group_5" class="form-group text-area">
                <label for="id_pain">Describe algún dolor que tengas: </label>
                {{ form.pain }}
            </div>

            <div id="form-group_6" class="form-group text-area">
                <label for="id_comments">Comentarios: </label>
                {{ form.comments }}
            </div>
        
            <button id="submit" type="submit" class="encuesta">Enviar</button>
        </form>
        <button id="next" class="arrow" onclick="nextParent()">&gt;</button>
    </div>
</div>

<script src="{% static 'team_dashboard/js/navform.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function (){
        let err = '{{form_errors.items}}'
        if (err.length > 0){
            document.getElementById("errores").style.display = "block";
        }
    });
    

    function closePopUp(){
        document.getElementById("errores").style.display = "none";
    };
</script>
{% endblock %}

{% block logout%}
{% endblock %}
