{% extends 'base_template.html' %}

{% block title %}Datos de Entreno{% endblock %}

{% load static %}
{% block styleSheets %}
<link rel="stylesheet" href="{% static 'team_dashboard/css/c_home.css' %}">
{% endblock %}

{% block main_content %}
<div class="subcontainer header">
    <h1>Listado de atletas</h1>
</div>

<table class="subcontainer">
    <thead>
        <tr>
            <th class="left">Atleta</th>
            <th class="right">Última Encuesta</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr class="body">
                
                <td class="left flex"><a class="table" href="{% url 'training_dashboard' user=row.user.id %}">{{ row.user.get_full_name}}</a></td>
                <td class="right flex"><a class="table right" href="{% url 'training_dashboard' user=row.user.id %}">{{ row.date }}</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="subcontainer logout">
        <form method="GET"  action="{% url 'coach_home' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">
                <a class="nav">Datos de Recuperación</a>
            </button>
        </form>
    {%if is_staff%}
        <form method="GET"  action="{% url 'admin:index' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">
                <a class="nav">Página Admin</a>
            </button>
        </form>
    {%endif%}
    <form method="POST"  action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">
            <a class="nav">Logout</a>
        </button>
    </form>
</div>

{% endblock %}