{% extends 'base_template.html' %}

{% block title %}Wellness Dashboard{% endblock %}

{% load static %}
{% block styleSheets %} 
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block main_content %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(25, 13, 85);">
        <p class="navbar-brand mb-0 h1">{{athlete.get_full_name}}</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form method="GET"  class="" action="{% url 'redirect' %}" style="display:inline;">
                        {% csrf_token %}
                        <button class="btn btn-link nav-link" type="submit">Página Principal</button>
                    </form>
                    {% if is_staff %}
                    <form method="GET"  class="" action="{% url 'training_data' %}" style="display:inline;">
                        {% csrf_token %}
                        <button class="btn btn-link nav-link" type="submit">Datos de Entreno</button>
                    </form>
                    {% endif %}
                </li>
            </ul>
        </div>
   </nav>

    <div class="btn-group btn-group-toggle justify-content-centers mt-2" data-toggle="buttons">
        <label for="time_x_rpe" class="btn btn-secondary text-white">
            <input class="visually-hidden" type="radio" name="graph" id="time_x_rpe" value="time_x_rpe" autocomplete="off" checked> Tiempo x RPE
        </label>
    </div>

    <div class='d-flex justify-content-around mt-2 mb-2'>
        {% if avatar_url %}
        <img class="img-thumbnail" src="{{ avatar_url }}" alt="Avatar" style="height: 120px; width: 120px">
        {% else %}
        <img class="img-thumbnail" src="{% static 'team_dashboard/images/deafault_avatar.png'%}" alt="Default Avatar"  style="height: 120px; width: 120px">
        {% endif %}
        <div class="d-flex flex-column">
            <label for="startDate">Buscar reporte:</label>
            <input  class="form-control" type="date" id="startDate"><br>
            <button class="btn btn-info text-white" id="filterButton">Filtrar</button>
        </div>
    </div>

    <div id="graph">
    </div>

    <script>
        var plotlyData = {{data|safe}};
        
        function getCheckedGraph() {
            var selectedRadio = document.querySelector('input[name="graph"]:checked');
            return selectedRadio ? selectedRadio.value : 'time_x_rpe';  // Default to 'graph_1' if none is selected
        }

        window.onload= function(){
            var graphDiv= document.getElementById('graph');
            Plotly.purge(graphDiv);

            var initialGraph = getCheckedGraph();
            Plotly.newPlot(graphDiv, plotlyData[initialGraph].data, plotlyData[initialGraph].layout, {displayModeBar: false});

            document.querySelectorAll('input[name="graph"]').forEach(function(radioButton) {
                radioButton.addEventListener('change', function() {
                    var selectedGraph = getCheckedGraph();
                    Plotly.react(graphDiv, plotlyData[selectedGraph].data, plotlyData[selectedGraph].layout, {displayModeBar: false});
                });
            });
        }
    </script>
{% endblock %}
