{% extends 'base_template.html' %}

{% block title %}Wellness Dashboard{% endblock %}

{% load static %}
{% block styleSheets %}
<link rel="stylesheet" href="{% static 'team_dashboard/css/dashboard.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block main_content %}
    <div class="subcontainer header">
        <h1>Atleta: {{athlete.get_full_name}}</h1>
        <a class="nav" href="{% url 'training_data' %}">Datos de Entreno</a>
    </div>
    <div class='image-filter'>
        {% if avatar_url %}
            <img src="{{ avatar_url }}" alt="Avatar" width="100">
        {% else %}
            <img src="{% static 'team_dashboard/images/deafault_avatar.png'%}" alt="Default Avatar>
        {% endif %}
        <div class="filter">
            <label for="startDate">Buscar reporte:</label>
            <input type="date" id="startDate"><br>
            <button id="filterButton">Filtrar</button>
        </div>
    </div>
    <div class="" data-toggle="buttons">
        <label for="wellness_table_I" class=""></label>
          <input type="radio" name="graph" id="time_x_rpe" value="time_x_rpe" autocomplete="off" checked> Time x RPE
      </div>

    <div id="graph">

    </div>

    <script>
                var plotlyData = {{data|safe}};
        
        function getCheckedGraph() {
            var selectedRadio = document.querySelector('input[name="graph"]:checked');
            return selectedRadio ? selectedRadio.value : 'time_x_rpe';  // Default to 'graph_1' if none is selected
        }

        window.onload= function(){
            var graphDiv= document.getElementById('graph');
            Plotly.purge(graphDiv);

            var initialGraph = getCheckedGraph();
            Plotly.newPlot(graphDiv, plotlyData[initialGraph].data, plotlyData[initialGraph].layout, {displayModeBar: false});

            document.querySelectorAll('input[name="graph"]').forEach(function(radioButton) {
                radioButton.addEventListener('change', function() {
                    var selectedGraph = getCheckedGraph();
                    Plotly.react(graphDiv, plotlyData[selectedGraph].data, plotlyData[selectedGraph].layout, {displayModeBar: false});
                });
            });
        }
    </script>
{% endblock %}
