{% extends 'base_template.html' %}

{% block title %}Encuesta Mañanera{% endblock %}

{% load static %}
{% block styleSheets %}
<link rel="stylesheet" href="{% static 'team_dashboard/css/widgets/starrating.css' %}">
{% endblock %}

{% block main_content %}
{% load static %}
<div class="d-flex flex-column justify-content-between" style="width: 100vw; height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-dark" style=" background-color: rgb(64, 3, 3);">
        <p class="navbar-brand mb-0 h1">Páginas</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form method="GET"  class="" action="{% url 'redirect' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-link nav-link" type="submit">Página Principal</button>
                </form>
            </li>
          </ul>
        </div>
    </nav>
    
    {%if form_errors%}
            <div class="alert alert-danger mb-0 rounded-0" role="alert">
                {%for field, error in form_errors.items%}
                    {{ error|join:", " }}<br>
                {%endfor%}
            </div>
    {%endif%}

        <form method="post" class="d-flex flex-column  text-white align-items-center justify-content-around h-100" style="background-color: rgb(25, 13, 85);">
            {% csrf_token %}
            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25" id="step-1">
                <label for="id_date" class="h3">Fecha</label>
                {{ form.date }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-2">
                <label for="id_measurement_quality" class="h3">Calidad de medición</label>
                {{ form.measurement_quality }}
            </div>
        
            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-3">
                <label for="id_RMSSD" class="h3">RMSSD</label>
                {{ form.RMSSD }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-4">
                <label for="id_SDNN" class="h3">SDNN</label>
                {{ form.SDNN }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-5">
                <label for="id_HR" class="h3">HR</label>
                {{ form.HR }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-6">
                <label for="id_emotional_wellness" class="h3">Estado de ánimo (1-5)</label>
                {{ form.emotional_wellness }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-7">
                <label for="id_chispa" class="h3">¿Cuanta chispa tienes?</label>
                {{ form.chispa }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-8">
                <label for="id_hours_of_sleep" class="h3">Tiempo de sueño</label>
                {{ form.hours_of_sleep }}
            </div>
        
            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-9">
                <label for="id_quality_of_sleep" class="h3">Calidad de sueño</label>
                {{ form.quality_of_sleep }}
            </div>
        
            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-10">
                <label for="id_muscle_pain" class="h3">Dolor</label>
                {{ form.muscle_pain }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-11">
                <label for="id_tiredness" class="h3">Recuperación</label>
                {{ form.tiredness }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-12">
                <label for="id_menstruation" class="h3">Menstruación</label>
                {{ form.menstruation }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-13">
                <label for="id_injury" class="h3">¿Algún dolor?</label>
                {{ form.injury }}
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-between h-25 d-none" id="step-14">
                <label for="id_comments" class="h3">Comentarios</label>
                {{ form.comments }}
            </div>
            <button id="submit" type="submit" class="btn btn-success btn-lg">Enviar</button>
        </form>
        <div class="btn-group" style="height: 100px;">
            <button id="back" class="btn btn-dark"  onclick="prevParent()" style="background-color: rgb(5, 143, 129); border-color: rgb(5, 143, 129);">&lt;</button>
            <button id="next" class="btn btn-dark"  onclick="nextParent()" style="background-color: rgb(5, 143, 129); border-color: rgb(5, 143, 129);">&gt;</button>
        </div>
    </div>
</div>
<script src="{% static 'team_dashboard/js/navform.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function (){
        let err = '{{form_errors.items}}'
        if (err.length > 0){
            document.getElementById("errores").style.display = "flex";
        }
    });
    
    function closePopUp(){
        document.getElementById("errores").style.display = "none";
    };
</script>
{% endblock %}

{% block logout%}
{% endblock %}

