{% extends 'base_template.html' %}

{% block title %}Wellness Dashboard{% endblock %}

{% load static %}
{% block styleSheets %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block main_content %}   
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(25, 13, 85);">
        <p class="navbar-brand mb-0 h1">{{athlete.get_full_name}}</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form method="GET"  class="" action="{% url 'redirect' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-link nav-link" type="submit">Datos Wellness</button>
                </form>
            </li>
          </ul>
        </div>
      </nav>

    <div class="btn-group btn-group-toggle justify-content-centers mt-2" data-toggle="buttons">
        <label for="wellness_table_I" class="btn btn-secondary text-white">
          <input class="visually-hidden" type="radio" name="graph" id="wellness_table_I" value="wellness_table_I" autocomplete="off" checked> Wellness General
        </label>
        <label for="radar" class="btn btn-secondary text-white">
          <input class="visually-hidden" type="radio" name="graph" id="radar" value="radar" autocomplete="off"> Radar de Wellness
        </label>
        <label for="lnrmssd" class="btn btn-secondary text-white">
          <input class="visually-hidden" type="radio" name="graph" id="lnrmssd" value="lnrmssd" autocomplete="off"> LnRMSSD
        </label>
        <label for="stress_score" class="btn btn-secondary text-white">
            <input class="visually-hidden" type="radio" name="graph" id="stress_score" value="stress_score" autocomplete="off"> Stress Score
        </label>
      </div>

      <div class='d-flex justify-content-around mt-2 mb-2'>
        {% if avatar_url %}
            <img class="img-thumbnail" src="{{ avatar_url }}" alt="Avatar"  style="height: 120px; width: 120px">
        {% else %}
            <img class="img-thumbnail" src="{% static 'team_dashboard/images/deafault_avatar.png'%}" alt="Default Avatar"  style="height: 120px; width: 120px">
        {% endif %}
        <div class="d-flex flex-column">
            <label for="startDate">Buscar reporte:</label>
            <input  class="form-control" type="date" id="startDate"><br>
            <button class="btn btn-info text-white" id="filterButton">Filtrar</button>
        </div>
    </div>

    <div id="graph">

    </div>

    <script>
        var plotlyData = {{data|safe}};
        
        function getCheckedGraph() {
            var selectedRadio = document.querySelector('input[name="graph"]:checked');
            return selectedRadio ? selectedRadio.value : 'wellness_table_I';  // Default to 'graph_1' if none is selected
        }

        // Render the initial graph based on the checked radio button
        // var initialGraph = 'wellness_table_I';  // Default is graph_1
        window.onload= function(){
            var graphDiv= document.getElementById('graph');
            Plotly.purge(graphDiv);

            var initialGraph = getCheckedGraph();
            Plotly.newPlot(graphDiv, plotlyData[initialGraph].data, plotlyData[initialGraph].layout, {displayModeBar: false});

            document.querySelectorAll('input[name="graph"]').forEach(function(radioButton) {
                radioButton.addEventListener('change', function() {
                    var selectedGraph = getCheckedGraph();
                    Plotly.react(graphDiv, plotlyData[selectedGraph].data, plotlyData[selectedGraph].layout, {displayModeBar: false});
                });
            });
        }
            
    </script>
{% endblock %}
